@model DemoMVC.Models.Person
@{
    ViewData ["Title"]= "Delete";
}
<h1>Delete</h1>
<div>
    <h2>Person</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(Model => Model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Model => Model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(Model => Model.Address)

        </dd>
        <dt class="col-sm-2"></dt>
            @Html.DisplayNameFor(Model => Model.hobbies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(Model => Model.hobbies)

        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonId" />\
        <input type="Submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">back to list</a>
    </form>
</div>